In [63]:
import requests
import json 
import pandas as pd

data={'Name':[],'Gender':[],'Birth_year':[],'Eye_color':[],'Skin_color':[],'Hair_color':[],'Mass':[],'Height':[],'Homeworld':[]}
endpoint=1
while endpoint < 83:
    if endpoint == 17:
        endpoint += 1
        continue

    url="https://www.swapi.tech/api/people/{}".format(endpoint)
    response=requests.get(url)
    data_json=response.json()['result']
    homeworld_url=data_json['properties']['homeworld']

   
    name=data_json['properties']['name']
    gender=data_json['properties']['gender']
    birth=data_json['properties']['birth_year']
    eyes=data_json['properties']['eye_color']
    skin=data_json['properties']['skin_color']
    hair=data_json['properties']['hair_color']
    mass=data_json['properties']['mass']
    height=data_json['properties']['height']
    homeworld=requests.get(homeworld_url).json()['result']['properties']['name']

    hair=hair.replace(", ","-")
    eyes=eyes.replace(", ","-")
    skin=skin.replace(", ","-")
    
    data['Name'].append(name)
    data['Gender'].append(gender)
    data['Birth_year'].append(birth)
    data['Eye_color'].append(eyes)
    data['Skin_color'].append(skin)
    data['Hair_color'].append(hair)
    data['Mass'].append(mass)
    data['Height'].append(height)
    data['Homeworld'].append(homeworld)
    
    endpoint += 1
    
        
df=pd.DataFrame(data)

df

,Name,Gender,Birth_year,Eye_color,Skin_color,Hair_color,Mass,Height,Homeworld
0,Luke Skywalker,male,19BBY,blue,fair,blond,77,172,Tatooine
1,C-3PO,n/a,112BBY,yellow,gold,n/a,75,167,Tatooine
2,R2-D2,n/a,33BBY,red,white-blue,n/a,32,96,Naboo
3,Darth Vader,male,41.9BBY,yellow,white,none,136,202,Tatooine
4,Leia Organa,female,19BBY,brown,light,brown,49,150,Alderaan
...,...,...,...,...,...,...,...,...,...
76,Shaak Ti,female,unknown,black,red-blue-white,none,57,178,Shili
77,Grievous,male,unknown,"green, yellow",brown-white,none,159,216,Kalee
78,Tarfful,male,unknown,blue,brown,brown,136,234,Kashyyyk
79,Raymus Antilles,male,unknown,brown,light,brown,79,188,Alderaan
80,Sly Moore,female,unknown,white,pale,none,48,178,Umbara